* {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    width: 100%;
    padding-top: 16px;

}

.container {
    max-width: 1185px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header div a {
    display: inline-block;
}

.menu {
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-family: 'Open Sans';
    font-weight: 600;
}

.background {
    background-image: url("../img/back.jpg");
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    margin-bottom: 166px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.id {
    padding-bottom: 55px;
}

.paragraph {
    max-width: 770px;
    margin: auto;
    text-align: center;
    font-size: 18px;
    color: #021725;
    font-family: 'Open Sans';
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 160px;
}

.service {
    display: flex;
    align-items: center;
}



.service_content {
    background-color: #f9f9f9;
    display: inline-block;
    padding: 48px 57px 52px;
    width: 100%;
}

.service h2 {
    color: #505d68;
    font-size: 45px;
    font-family: 'Open Sans';
    font-weight: 600;
    margin-bottom: 92px;
}

.service_paragraph {
    font-size: 17px;
    line-height: 28px;
    font-family: 'Open Sans';
    font-weight: 300;
    max-width: 208px;
    margin: auto;
    display: inline-block;
}



.list {
    display: inline-block;
    font-size: 17px;
    line-height: 28px;
    font-family: 'Open Sans';
    font-weight: 300;
}

.list ul {
    list-style: none;
}

.flex {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: #eeeeee;
    padding: 41px 0 39px;
}

.footer {
    max-width: 770px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer p {
    color: #505d68;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 300;
}

